/* ===================================================================================== 
GENERAL TYPOGRAPHY 
===================================================================================== */


/* ================= CSS Reset ================= */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ================= General tags ================= */
/* ============ SMALL(mobile first) ============ */

html {
  margin: 0;
  min-height: 100%; /* for footer at bottom */
  _height: 100%; /* for IE6 that does not know min-height */
  height: 100%; /* for flexbox to work */
  -webkit-box-sizing: border-box; /* vendor prefix for box-style gebruik */
  -moz-box-sizing: border-box; /* vendor prefix for box-style gebruik */
  box-sizing: border-box; /* for box-style gebruik */
}

*, *:before, *:after { /* vendor prefix for box-style gebruik */
  -webkit-box-sizing: inherit; /* vendor prefix for box-style gebruik */
  -moz-box-sizing: inherit; /* vendor prefix for box-style gebruik */
  box-sizing: inherit; /* for box-style gebruik */
}

/* display: flex support vanaf IE10 */
/* box-sizing support vanaf IE-8 */

body {
  margin: 0;
  width: 100%;
  min-height: 100%; 
  _height: 100%; /* for IE6 that does not know min-height */
  height: 100%; /* for flexbox to work */
  font-family: 'Raleway', Arial, sans-serif;
  /* no body font size > respect by user/browser predefined size*/
  /* browsers do often not take body font sizes into account in media queries(it uses 
  the browser settings, i.o.w. rem) which can result in layout breaks */
  color: #333;
  background-color:#F0F0F0; /* to be seen at the sides of big screens and below the 
                               text > max-width in .fwc */
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -moz-box; /* OLD - Firefox 19 - (buggy but works most of the time) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
  -ms-flex-direction: column; 
  -moz-flex-direction: column; 
  -webkit-flex-direction: column; 
  flex-direction: column; 
}

/* fallbacks for font-height in px for <IE11 */
h1 { font-size: 36px; font-size: 2.25rem;} 
h2 { font-size: 30px; font-size: 1.875rem;}
h3 { font-size: 24px; font-size: 1.5rem;}
h4 { font-size: 18px; font-size: 1.125rem;}
h5 { font-size: 14px; font-size: 0.875rem;}
h6 { font-size: 12px; font-size: 0.75rem;}

#main_container{
min-height: 100%;
_height: 100%; /* for IE6 that does not know min-height */
margin: -96px 0 0 0; margin: -6rem 0 0 0; /* height footer */
position: relative;
overflow: auto; /* to keep footer from floating vertically after scroll in low screen */
}

.gradient_background{
  background: #F0F0F0; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(80deg, #C0C0C0, #F0F0F0, #F0F0F0, #C0C0C0); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(80deg, #C0C0C0, #F0F0F0, #F0F0F0, #C0C0C0); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(80deg, #C0C0C0, #F0F0F0, #F0F0F0, #C0C0C0); /* For Firefox 3.6 to 15 */
  background: linear-gradient(80deg, #C0C0C0, #F0F0F0, #F0F0F0, #C0C0C0); /* Standard syntax */
}

header{
	color: #606060;
	width: 100%;
	margin: 96px 0 0 0; margin: 6rem 0 0 0; /* cutting height footer above */
}

header em{
  color: #FF6600;
}

#logo{
  margin-left: auto;
  margin-right: auto;
}

nav{
	width: 100%;
}

/* Floating to the right reverses the elements. If you want the menu aligned to the right, 
then you need to make ul element floating to the right but the li elements inside, must 
have a float left. */

nav ul{
  text-align: center;
  width: auto;
  height: auto;
  padding-top: 48px; padding-top: 3rem; 
  padding-bottom: 32px; padding-bottom: 2rem; 
}

nav li{
}

nav ul a{
  clear: both;
  padding-left: 32px; padding-left: 2rem;
  line-height: 32px; line-height: 2rem;
  /* line-height -> centers text vertically + whole height will be clickable */ 
  text-decoration: none; /* removes the underlining from the links */
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 20px; 1.25rem;
  color: #606060;
}

nav ul a:hover{ 
  color:#FF9966;
}

.active_page{
  color: #FF6600;
}

section{
  height: auto; /* for flexbox to work */
}

.fwc{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1920px; /* in very broad screens the picture is not full width any more, 
  because then the image will be bigger than the size we decided to put on the web */
}

#bannerarea{
  /* above and on sides of photo */
  background-color: #303030 ;
  padding: 20px; 
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  max-width: 1920px;
  padding: 0px;
  float: center;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #606060;
  /* box-shadow: offset-x offset-y blur-radius spread-radius color */
  -moz-box-shadow: 0px 0px 10px 5px black;
  -webkit-box-shadow: 0px 0px 10px 5px black;
  box-shadow: 0px 0px 10px 5px black;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: center;
}

.rslides img {
  display: block;
  height: auto;
  width: 100%;
  max-width: 1920px;
}

#textarea{
 padding: 20px 20px 40px 20px; /* sides same as padding bannerarea img */
}

#introflex{
  -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1; /* OLD - Firefox 19 - */
  -webkit-flex: 1; /* Safari 6.1+. iOS 7.1+, BB10 */
  -ms-flex: 1; /* IE 10 */
  flex: 1; /* NEW, Spec - Firefox, Chrome, Opera */
  width: 100%;
  min-height: 64px; min-height: 4rem;
  _height: 64px; _height: 4rem; /* for IE6 that does not know min-height */
  line-height: 180%;
  background-color: #F0F0F0;
  color: #606060;
}

footer{
  margin-bottom: 0; /* only bottom is not sufficient, this moves the element only */
  height: 96px; height: 6rem; /* height footer */
  color: #606060;
  text-align: center;
  padding-top: 24px; padding-top: 1.5rem;
  line-height: 16px; line-height: 1rem;
  width: 100%;
  position: absolute; 
  border-top: 1px solid #F8F8F8;
}

/* =====================================================================================
GENERAL STRUCTURE 
===================================================================================== */

/* =====================================================================================
SPECIFIC PAGE STYLES 
===================================================================================== */

/* ===================================================================================== 
MEDIA QUERIES 
====================================================================================== */
/* Ideology: design / content should guide where to make breaks */
/* Use 'major' and 'minor' breaks if necessary */
/* choice for 'Mobile First & Progressive Enhancement' -> focus on essence */
/* choice for pixel sized media queries see benfrain.com */


/* ================= MEDIUM (menu fits nicely in width) ================= */
@media only screen and (min-width: 1024px){

  header{
    height: 128px; height: 8rem; /* not including height footer above*/
    margin: 96px 0 0 0; margin: 6rem 0 0 0; /* cutting height footer above */
  }
  
  nav{
    height: 96px; height: 6rem;
  }

  /* Floating to the right reverses the elements. If you want the menu aligned to the right, 
  then you need to make ul element floating to the right but the li elements inside, must 
  have a float left. */

  nav ul{
    float: right;
    padding-top: 32px; padding-top: 2rem; 
    padding-right: 32px; padding-right: 2rem;
  }

  nav li{
    float: left; 
  }

  nav ul a{
    clear: both;
  }
  
  #bannerarea {
    padding: 50px;
  }
  
  .rslides {
    /* box-shadow: offset-x offset-y blur-radius spread-radius color */
    -moz-box-shadow: 0px 0px 40px 10px black;
    -webkit-box-shadow: 0px 0px 40px 10px black;
    box-shadow: 0px 0px 20px 7px black;
  }

  #textarea{
    padding: 50px 50px 70px 50px; /* sides same as padding bannerarea img */
  }
}

/* ============ BIG (screens or resolutions wider than max photo size) ============ */
/* on moment of writing this CSS (july 2016) biggest size computerscreen available is
the 27-inch iMac with Retina with the size of 5120px x 2880px */

@media only screen and (min-width: 1920px){ 
  
  header{
    height: 128px; height: 8rem; /* not including height footer above*/
    margin: 96px 0 0 0; margin: 6rem 0 0 0; /* cutting height footer above */
  }
  
  nav{
    height: 96px; height: 6rem;
    width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }
  
  nav ul{
    float: right;
    padding-top: 32px; padding-top: 2rem; 
    padding-right: 32px; padding-right: 2rem;
  }
  
  nav li{
    float: left; 
  }

  nav ul a{
    clear: both;
  }

  /* area for photo becomes bigger; padding around and a border and boxshadow are added
  to the image */ 

  #bannerarea {
    padding: 100px;
  }
  
.rslides {
    /* box-shadow: offset-x offset-y blur-radius spread-radius color */
    -moz-box-shadow: 0px 0px 40px 10px black;
    -webkit-box-shadow: 0px 0px 40px 10px black;
    box-shadow: 0px 0px 40px 10px black;
  }
    
  #textarea{
    padding: 100px 100px 120px 100px; /* sides same as padding bannerarea */
  }
}








