/* ===================================================================================== 
GENERAL TYPOGRAPHY 
===================================================================================== */


/* ================= CSS Reset ================= */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ================= General tags ================= */

body {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 16px;
    color: #fff
    margin: 0;
    padding:0;
    background-color:#666; /* aan zijkanten te zien op schermen breder dan 3500px */
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 18px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 12px
}

.fwc {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 2500px; /* voor heel grote schermen voorkomen dat website te breed wordt > NOG aanpassen naar 3500 als website af is!!!!!! */
  max-height: auto;
}

header {
	background-color: #333;
	width: 100%;
	height: 10em;
	padding-left: 100px;
}

nav {
	width: 100%;
	height: 7em;
}

/* Floating to the right reverses the elements. If you want the menu aligned to the right, 
then you need to make ul element floating to the right but the li elements inside, must 
have a float left. */

ul {
 padding-right: 100px;
 float: right;
 width: 900px;
}

li{
 float: left;
 width: auto;
}

ul a {
  padding-right:0em;
  padding-left: 2em;
  padding-top: 3em;
  line-height: 2em; /* centers text vertically + whole height will be clickable */ 
  text-decoration: none; /* removes the underlining from the links */
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 1.2em;
  color: #cccccc;
}

ul a:hover{ 
  color:#FF9966;
}

section {
  background-color: #fff;
}

footer {
  position: fixed;
  bottom: 0;
  height: 5em;
  background-color: #333;
  color: #888888;
  text-align: center;
  padding-top: 2em;
  line-height: 1em;
  width: 100%;
}

/* =====================================================================================
GENERAL STRUCTURE 
===================================================================================== */

/* =====================================================================================
SPECIFIC PAGE STYLES 
===================================================================================== */

/* ===================================================================================== 
MEDIA QUERIES 
====================================================================================== */
/* Ideologie: de inhoud van de website moet bepalen waar de breaks zitten */
/* Gebruik eventueel 'major' en 'minor' breaks */
/* keuze voor 'Mobile First & Progressive Enhancement' vanwege focus op essentie */
/* keuze voor pixel sized media queries zie benfrain.com */



/* ================= < 480px ================= */
@media only screen and (max-width: 480px){
} 

/* ================= 768px - 481px ================= */
@media only screen and (max-width: 768px){
}

/* ================= 958px - 769px ================= */
@media only screen and (max-width: 958px) {
}

/* ================= 1024px - 959px  ================= */
@media only screen and (max-width:1024px) and (-webkit-min-device-pixel-ratio: 1){
}

/* ================= > 1024px  ================= */
/* op moment van schrijven (januari 2016) is de grootste verkrijgbare afmeting van een 
computerbeeldscherm de 27-inch iMac met Retina de afmetingen 5120px x 2880px 
Dat is groter dan de originele foto's > originele foto's watermerken op die grootte */
@media only screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 2) {
}




