/* ===================================================================================== 
GENERAL TYPOGRAPHY 
===================================================================================== */


/* ================= CSS Reset ================= */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ================= General tags ================= */

html {
  margin: 0;
  min-height: 100%; /* for footer at bottom */
  _height: 100%; /* for IE6 that does not know min-height */
  height: 100%; /* for flexbox to work */
  -webkit-box-sizing: border-box; /* vendor prefix for box-style gebruik */
  -moz-box-sizing: border-box; /* vendor prefix for box-style gebruik */
  box-sizing: border-box; /* for box-style gebruik */
}

*, *:before, *:after { /* vendor prefix for box-style gebruik */
  -webkit-box-sizing: inherit; /* vendor prefix for box-style gebruik */
  -moz-box-sizing: inherit; /* vendor prefix for box-style gebruik */
  box-sizing: inherit; /* for box-style gebruik */
}

/* display: flex support vanaf IE10 */
/* box-sizing support vanaf IE-8 */

body {
  margin: 0;
  width: 100%;
  min-height: 100%; 
  _height: 100%; /* for IE6 that does not know min-height */
  height: 100%; /* for flexbox to work */
  font-family: 'Raleway', Arial, sans-serif;
  /* geen body font size > respect by user/browser predefined size*/
  /* browsers do often not take body font sizes into account in media queries(it uses 
  the browser settings, i.o.w. rem) which can result in layout breaks */
  color: #333;
  background-color:#FFFFFF; /* to be seen at the sides of big screens > max-width in .fwc */
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -moz-box; /* OLD - Firefox 19 - (buggy but works most of the time) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
  -ms-flex-direction: column; 
  -moz-flex-direction: column; 
  -webkit-flex-direction: column; 
  flex-direction: column; 
}

/* fallbacks for font-height in px for <IE11 */
h1 { font-size: 36px; font-size: 2.25rem;} 
h2 { font-size: 30px; font-size: 1.875rem;}
h3 { font-size: 24px; font-size: 1.5rem;}
h4 { font-size: 18px; font-size: 1.125rem;}
h5 { font-size: 14px; font-size: 0.875rem;}
h6 { font-size: 12px; font-size: 0.75rem;}

#main_container{
min-height: 100%;
_height: 100%; /* for IE6 that does not know min-height */
margin: -96px 0 0 0; margin: -6rem 0 0 0; /* height footer */
position: relative;
overflow: auto; /* to keep footer from floating vertically after scroll in low screen */
}

.gradient_background{
  background: #333; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(70deg, #333, #505050, #333); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(70deg, #333, #505050, #333); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(70deg, #333, #505050, #333); /* For Firefox 3.6 to 15 */
  background: linear-gradient(70deg, #333, #505050, #333); /* Standard syntax */
}

header{
	color: #cccccc;
	width: 100%;
	margin: 96px 0 0 0; margin: 6rem 0 0 0; /* cutting height footer above */
}

#logo{
  margin-left: auto;
  margin-right: auto;
}

nav{
	width: 100%;
}

/* Floating to the right reverses the elements. If you want the menu aligned to the right, 
then you need to make ul element floating to the right but the li elements inside, must 
have a float left. */

nav ul{
  text-align: center;
  width: auto;
  height: auto;
  padding-top: 48px; padding-top: 3rem; 
  padding-bottom: 32px; padding-bottom: 2rem; 
}

nav li{
}

nav ul a{
  clear: both;
  padding-left: 32px; padding-left: 2rem;
  line-height: 32px; line-height: 2rem;
  /* line-height -> centers text vertically + whole height will be clickable */ 
  text-decoration: none; /* removes the underlining from the links */
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 20px; 1.25rem;
  color: #CCCCCC;
}

nav ul a:hover{ 
  color:#FF9966;
}

.active_page{
  color: #FF9966;
}

section{
  height: auto; /* for flexbox to work */
}

.fwc{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 2010px; /* in very broad screens the picture is not full width any more, 
  because then the image will be bigger than the original size
  NOG aanpassen naar 2560(?) als website af is!!!!!! */
}

#introflex{
  -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1; /* OLD - Firefox 19 - */
  -webkit-flex: 1; /* Safari 6.1+. iOS 7.1+, BB10 */
  -ms-flex: 1; /* IE 10 */
  flex: 1; /* NEW, Spec - Firefox, Chrome, Opera */
  width: 100%;
  min-height: 64px; min-height: 4rem;
  _height: 64px; _height: 4rem; /* for IE6 that does not know min-height */
  background-color: #FFFFFF;
  color: #727272;
  padding: 16px 16px 32px 16px; padding: 1rem 1rem 2rem 1rem;
}

footer{
  margin-bottom: 0; /* only bottom is not sufficient, this moves the element only */
  height: 96px; height: 6rem; /* height footer */
  color: #cccccc;
  text-align: center;
  padding-top: 24px; padding-top: 1.5rem;
  line-height: 16px; line-height: 1rem;
  width: 100%;
  position: absolute; 
}

/* =====================================================================================
GENERAL STRUCTURE 
===================================================================================== */

/* =====================================================================================
SPECIFIC PAGE STYLES 
===================================================================================== */

/* ===================================================================================== 
MEDIA QUERIES 
====================================================================================== */
/* Ideologie: het design / de inhoud van de website moet bepalen waar de breaks zitten */
/* Gebruik eventueel 'major' en 'minor' breaks */
/* choice for 'Mobile First & Progressive Enhancement' -> focus on essence */
/* choice for pixel sized media queries see benfrain.com */

/* if (size screen)>(max width photo) then a white border is added above the photo */


/* ================= MEDIUM (menu fits nicely in width) ================= */
@media only screen and (min-width: 1024px){

  header{
    height: 128px; height: 8rem; /* not including height footer above*/
    margin: 96px 0 0 0; margin: 6rem 0 0 0; /* cutting height footer above */
  }
  
  nav{
    height: 96px; height: 6rem;
  }

  /* Floating to the right reverses the elements. If you want the menu aligned to the right, 
  then you need to make ul element floating to the right but the li elements inside, must 
  have a float left. */

  nav ul{
    float: right;
    padding-top: 32px; padding-top: 2rem; 
    padding-right: 32px; padding-right: 2rem;
  }

  nav li{
    float: left; 
  }

  nav ul a{
    clear: both;
  }
}

/* ============ BIG (screens or resolutions wider than max photo size) ============ */
/* op moment van schrijven (januari 2016) is de grootste verkrijgbare afmeting van een 
computerbeeldscherm de 27-inch iMac met Retina de afmetingen 5120px x 2880px */
@media only screen and (min-width: 2010px) /* NOG VERANDEREN IN 2560 */ { 
  
  header{
    height: 128px; height: 8rem; /* not including height footer above*/
    margin: 96px 0 32px 0; margin: 6rem 0 2rem 0; /* cutting height footer above */
  }
  
  nav{
    height: 96px; height: 6rem;
    width: 2010px;
    margin-left: auto;
    margin-right: auto;
  }
  
  nav ul{
    float: right;
    padding-top: 32px; padding-top: 2rem; 
    padding-right: 16px; padding-right: 1rem;
  }
  
  nav li{
    float: left; 
  }

  nav ul a{
    clear: both;
  }

}






